.filter .button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    height: 38px;
    border-radius: 4px;
    border: none;
}

.filter .button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.filter .button.secondary {
    background-color: var(--button-bg-color);
    color: var(--title-text-color);
}